.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.006348;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.964000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.728000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1047.409235px;}
._3{margin-left:-1026.400410px;}
._4{margin-left:-2.327211px;}
._2{margin-left:-1.219063px;}
._0{width:8.420037px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(139,87,42);}
.fs2{font-size:33.013868px;}
.fs1{font-size:42.017650px;}
.fs0{font-size:78.032779px;}
.fs3{font-size:96.040344px;}
.y0{bottom:0.000000px;}
.y30{bottom:3.751582px;}
.y1b{bottom:16.506910px;}
.y1{bottom:22.380590px;}
.y1c{bottom:22.575782px;}
.y1a{bottom:26.261007px;}
.y19{bottom:50.271093px;}
.y18{bottom:60.025190px;}
.y2e{bottom:89.287509px;}
.y17{bottom:96.790635px;}
.y2d{bottom:114.047910px;}
.y2c{bottom:138.808311px;}
.y16{bottom:141.809546px;}
.y15{bottom:151.563643px;}
.y14{bottom:175.573729px;}
.y2b{bottom:175.573755px;}
.y13{bottom:185.327826px;}
.y12{bottom:209.337912px;}
.y11{bottom:219.092010px;}
.y2a{bottom:221.342982px;}
.y10{bottom:243.102096px;}
.y29{bottom:246.103383px;}
.yf{bottom:252.856193px;}
.y28{bottom:270.863784px;}
.ye{bottom:276.866279px;}
.yd{bottom:286.620376px;}
.y27{bottom:295.624185px;}
.yc{bottom:310.630462px;}
.yb{bottom:320.384560px;}
.y26{bottom:332.389629px;}
.ya{bottom:357.150004px;}
.y25{bottom:377.408540px;}
.y24{bottom:387.162637px;}
.y9{bottom:402.168915px;}
.y23{bottom:411.172723px;}
.y8{bottom:411.923012px;}
.y22{bottom:420.926821px;}
.y7{bottom:435.933098px;}
.y21{bottom:444.936907px;}
.y6{bottom:445.687195px;}
.y20{bottom:454.691004px;}
.y5{bottom:469.697281px;}
.y4{bottom:478.701064px;}
.y1f{bottom:478.701090px;}
.y3{bottom:488.455161px;}
.y1e{bottom:488.455187px;}
.y2{bottom:525.220605px;}
.y1d{bottom:525.220631px;}
.y2f{bottom:625.078875px;}
.h7{height:24.010092px;}
.h5{height:25.618762px;}
.h4{height:32.605697px;}
.h3{height:59.781949px;}
.h8{height:68.572805px;}
.h2{height:568.738872px;}
.h6{height:568.738916px;}
.h0{height:841.919980px;}
.h1{height:842.000000px;}
.w3{width:256.607773px;}
.w2{width:261.860029px;}
.w4{width:269.363163px;}
.w0{width:594.959960px;}
.w1{width:595.000000px;}
.x0{left:0.000000px;}
.x1{left:23.455502px;}
.x7{left:46.507818px;}
.x6{left:159.817143px;}
.x5{left:222.292590px;}
.x4{left:228.213042px;}
.x2{left:233.465258px;}
.x3{left:315.882731px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1396.545647pt;}
._3{margin-left:-1368.533880pt;}
._4{margin-left:-3.102948pt;}
._2{margin-left:-1.625418pt;}
._0{width:11.226716pt;}
.fs2{font-size:44.018491pt;}
.fs1{font-size:56.023534pt;}
.fs0{font-size:104.043706pt;}
.fs3{font-size:128.053792pt;}
.y0{bottom:0.000000pt;}
.y30{bottom:5.002109pt;}
.y1b{bottom:22.009213pt;}
.y1{bottom:29.840787pt;}
.y1c{bottom:30.101043pt;}
.y1a{bottom:35.014676pt;}
.y19{bottom:67.028124pt;}
.y18{bottom:80.033587pt;}
.y2e{bottom:119.050012pt;}
.y17{bottom:129.054179pt;}
.y2d{bottom:152.063880pt;}
.y2c{bottom:185.077748pt;}
.y16{bottom:189.079394pt;}
.y15{bottom:202.084857pt;}
.y14{bottom:234.098305pt;}
.y2b{bottom:234.098340pt;}
.y13{bottom:247.103768pt;}
.y12{bottom:279.117216pt;}
.y11{bottom:292.122680pt;}
.y2a{bottom:295.123975pt;}
.y10{bottom:324.136127pt;}
.y29{bottom:328.137844pt;}
.yf{bottom:337.141591pt;}
.y28{bottom:361.151712pt;}
.ye{bottom:369.155039pt;}
.yd{bottom:382.160502pt;}
.y27{bottom:394.165580pt;}
.yc{bottom:414.173950pt;}
.yb{bottom:427.179413pt;}
.y26{bottom:443.186172pt;}
.ya{bottom:476.200005pt;}
.y25{bottom:503.211387pt;}
.y24{bottom:516.216850pt;}
.y9{bottom:536.225220pt;}
.y23{bottom:548.230298pt;}
.y8{bottom:549.230683pt;}
.y22{bottom:561.235761pt;}
.y7{bottom:581.244131pt;}
.y21{bottom:593.249209pt;}
.y6{bottom:594.249594pt;}
.y20{bottom:606.254672pt;}
.y5{bottom:626.263042pt;}
.y4{bottom:638.268085pt;}
.y1f{bottom:638.268120pt;}
.y3{bottom:651.273548pt;}
.y1e{bottom:651.273583pt;}
.y2{bottom:700.294140pt;}
.y1d{bottom:700.294175pt;}
.y2f{bottom:833.438500pt;}
.h7{height:32.013456pt;}
.h5{height:34.158349pt;}
.h4{height:43.474262pt;}
.h3{height:79.709265pt;}
.h8{height:91.430407pt;}
.h2{height:758.318496pt;}
.h6{height:758.318554pt;}
.h0{height:1122.559973pt;}
.h1{height:1122.666667pt;}
.w3{width:342.143698pt;}
.w2{width:349.146705pt;}
.w4{width:359.150884pt;}
.w0{width:793.279947pt;}
.w1{width:793.333333pt;}
.x0{left:0.000000pt;}
.x1{left:31.274003pt;}
.x7{left:62.010424pt;}
.x6{left:213.089524pt;}
.x5{left:296.390120pt;}
.x4{left:304.284056pt;}
.x2{left:311.287011pt;}
.x3{left:421.176974pt;}
}
